* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.row::after {
    content: "";
    clear: both;
    display: block;

}

[class*="col-"] {
    float: left;
}

.col-1 {width: 40%;}
.col-3 {width: 60%;}

h1 {
 font-size: 1.5rem;
 text-transform: uppercase;
 margin-top: 30px;
 margin-left: 20px;
 letter-spacing: .1rem;
 color: #c0e1f0;
}

p {
 font-size: 15.5px;
 font-family: 'Raleway', sans-serif;
 margin-top: 20px;
 margin-left: 20px;
 margin-right: 20px;
 text-align: justify;
 line-height: 130%;
 color: #fff;
}

/* links */
a:link, a:visited, a:hover, a:active {
 color: #fff;
 text-decoration: none;
 font-family: 'Raleway', sans-serif;
 font-size: 16px;
 line-height: 140%;
 letter-spacing: .05rem;
}

/* background image */
img {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
    background: url('ESP_022607_1725.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

/* github and twitter
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.githubtwitter {
 width: 120px;
 height: 50px;
 float: left;
 position: absolute;
 top: 58px;
 left: 150px;
}

.github {
 margin-right: 10px;
}

.twitter {
 margin-left: 10px;
}

/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul {
  background: #fff;
  padding: 50px 30px;
  float: left;
  margin-right: 100px;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 5px;
  margin: 0 auto;
  padding-top: 50px;
  background: #000;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li.circleyear::after {
 width: 60px;
 height: 60px;
 background: #000;
 border-radius: 50%;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 17px;
  padding-left: 30px;
  margin-left: 60px;
  background: rgba(0,0,0,0.1);
  line-height: 140%;
  font-size: 16px;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

.timeline ul li div.clear {
  background: rgba(0,0,0,0);
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 9px;
  color: #c0e1f0;
  font-family: 'Raleway', sans-serif;
}

.timehr {
 margin: 5px 0px 15px 0px;
 border: 1px solid #000;
}

/* year circle*/
#circle {
  width: 60px;
  height: 60px;
  background: #000;
  border-radius: 50%;
  line-height: 60px;
  text-align: center;
  color: #fff;
  font-family: 'Raleway', sans-serif;
}

/* 2015 text */
#year2015text, #year2014text {
 color: #fff;
 position: relative;
 z-index: 1;
 transform:translate(-104px, 37px);
 width: 60px;
 height: 60px;
 border-radius: 50%;
 background: rgba(0,0,0,0);
}
/* 2014 text */
#year2014text {
 transform:translate(-104px, 87px);
}

/* BLOG
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.blog {
 float: right;
 margin-top: 50px;
 margin-right: 40px;
 width: 60%;
 height: auto;
 font-family: 'Raleway', sans-serif;
 font-weight:100;
 font-size: 1.2rem;
 background: rgba(0,0,0,0.4);
 color: white;
 border: none;
 padding-left: 10px;
}

hr {
    margin: 5px 20px 0px 20px;
    border: 1px solid #000;
}

/* learning part */
#learning {
 display: none;
}

/* button */
#partIandII button {
  width: 40%;
  height: auto;
  padding: .4rem;
  margin: 1rem auto;
  margin-left: 20px;
  font-size: 1rem;
  background: rgba(255,255,255,0.23);
  color: #c0e1f0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: .3s background;
}

#partIandII button:hover {
   background: rgba(0,0,0,0.5);
}

/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 980px) {
 /* For tablets */
 [class*="col-"] {
     width: 100%;
 }
 .blog {
  width: 100%;
  float: left;
  margin-top: 0;
 }
 .timeline ul li div {
  line-height: 150%;
  font-size: 108%;
  background: rgba(0,0,0,0.25);
 }
 #year2014text {
  transform:translate(-105px, 117px);
 }
}

@media screen and (max-width: 768px) {
 /* For mobile phones */
 [class*="col-"] {
  width: 100%;
 }
 .blog {
  width: 100%;
  float: left;
  margin-top: 0;
 }
 .timeline ul li div {
  line-height: 150%;
  font-size: 108%;
  background: rgba(0,0,0,0.25);
 }
 #year2014text {
  transform:translate(-105px, 117px);
 }
}

@media screen and (max-width: 480px) {
 /* For small mobile phones */
 [class*="col-"] {
     width: 100%;
 }
 .blog {
  width: 100%;
  float: left;
  margin-top: 0;
 }
 .timeline ul {
  padding: 50px 10px;
 }
 .timeline ul li div {
  width: 300px;
  margin-left: 40px;
  padding-left: 20px;
  line-height: 150%;
  font-size: 108%;
  background: rgba(0,0,0,0.25);
 }
 .githubtwitter {
  left: 90px;
 }
 #year2015text {
  transform:translate(-75px, 35px);
 }
 #year2014text {
  transform:translate(-75px, 117px);
 }
}
